h1 {
    color:  rgba(130, 255, 212);
    font-family: sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 30px;
    font-size: 43px;
    font-style: italic;
}


body {
    background-color: rgba(140, 190, 200, 0.7);
}

.front {
    width:950px;
    height: 600px;
    background-color: rgba(0, 150, 100, 0.5);
    text-align: center;
    margin: auto;
    margin-top: 150px;
    border-radius:7px;
    border: 3px solid #036d;
    box-shadow: 2px 2px 10px 1px;
}

.buttons{
    padding-bottom: 30px;
}

.add-activity, .view-activities, .stats {
    padding: 10px;
    border-radius: 5px;
    border: None;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background-color:rgba(130, 255, 212);
    color: rgba(0, 0, 0, 0.7);
}


.table-header{
    background-color: rgba(130, 255, 212);
    text-transform: uppercase;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.7);
}

th:hover {
    color:rgba(130, 255, 212);
    background-color: rgba(0, 0, 0, 0.7);
}

.add-activity:hover , .view-activities:hover, .stats:hover {
    color:rgba(130, 255, 212);
    background-color: rgba(0, 0, 0, 0.7);
}

.add-activity:active , .view-activities:active, .stats:active {
    background-color:rgba(130, 255, 212);
    color: rgba(0, 0, 0, 0.7);
}

.table {
    margin: auto;
}

td {
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    padding: 7px;
    border-bottom: 1px solid rgba(255, 255, 255);
    border-right: 1px solid rgba(255, 255, 255);
}

img {
    height: 40px;
    width: 40px;
}


