<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View-Activities</title>

    <link rel = "stylesheet" href = "{{urlfor('static', filename = 'view.css')}}">
</head>
<body>
    <main>
        <div class = "front-view">
            <div class = "title">
                <h1>Lista de Actividades</h1>
            </div>
            <div class = "list">
                <table>
                    <thead>
                        <tr class = "table-header">
                            <th>Inicio</th>
                            <th>Término</th>
                            <th>Comuna</th>
                            <th>Sector</th>
                            <th>Tema</th>
                            <th>Nombre Organizador</th>
                            <th>Foto</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for actividad in actividades %}
                        <tr>
                            <td>{{ actividad.inicio }}</td>
                            <td>{{ actividad.termino or "-" }}</td>
                            <td>{{ actividad.comuna }}</td>
                            <td>{{ actividad.sector or "-" }}</td>
                            <td>
                                {% for tema in actividad.temas %}
                                    <div>{{ tema }}</div>
                                {% endfor %}
                            </td>
                            <td>
                                {% for foto in actividad.fotos %}
                                <img loading="lazy" src="{{ url_for('static', filename='uploads/' ~ foto) }}" alt="Foto actividad" width="100">
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <div class = "button">
        <a href="{{ url_for('portada') }}"><button class="return">Inicio</button></a>
    </div>


    <script src = "{{ url_for('static', filename = 'view.js')}}"></script>
</body>
</html>