.add-button, .list-button ,.stats-button {
    padding: 8px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background-color:rgb(39, 41, 141);
    color: rgba(255, 255, 255);
    margin: 7px;
    text-decoration: none;
    border: 3px solid rgba(182, 161, 255, 0.7);
    border-radius: 5px;
}

.add-button:hover , .list-button:hover, .stats-button:hover {
    color:rgb(39, 41, 141);
    background-color: rgba(182, 161, 255, 0.7);
}

h2 {
    padding-top: 30px;
    color:  rgb(39, 41, 141);
    font-family: sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contenedor {
    width: fit-content;
    max-width: 200vw;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 25px;
    margin: auto;
    overflow-x: auto;
}

table {
    border-spacing: 5px;
    border-collapse: separate;

}
th {
    background-color: rgb(39, 41, 141);
    padding: 5px;
    margin: 5px;
    color: rgba(255, 255, 255);
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 5px;
}

td {
    color: rgba(0, 0, 0, 0.7);
    font-family: sans-serif;
    font-weight: 500;
    padding: 7px;
    border-bottom: 1px solid rgba(255, 255, 255);
    border-right: 1px solid rgba(255, 255, 255);
}



